#실행파일 제외 
*.com
*.exe
*.o
*.so

#패키지파일
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

#로그파일
*.log
upload/
logs/

#이클립스 설정파일
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
.target
.tern-project
.springBeans
.recommenders/

#맥, 윈도우용 시스템파일 제외 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

metadata
/
target/
db.properties
pom.properties

Servers