* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial;
	background: sandybrown;
}

form input {
	border: 0;
	padding: 10px;
	width: 85%;
	margin-right: .5%;
}

form button {
	width: 13.5%;
	background: rgb(255, 229, 52);
	border: none;
	border-radius: 0.2em;
	padding: 10px;
	font-weight: bold;
}

.div-button-send {
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

#messages {
	list-style-type: none;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
	background: #fff;
	border-radius: 0.4em;
	font-size: 13px;
	display: block;
	max-width: 350px;
	margin: 5px;
	clear: both;
	word-break: break-all;
}

#messages li.admin {
	float: left;
	text-align: left;
}

#messages li.client {
	background: rgb(255, 229, 52);
	float: right;
	text-align: right;
}

#messages li.server {
	text-align: center;
	max-width: 100%;
	background: aquamarine;
}

.div-chatbox {
	overflow-y: auto;
	width: 100%;
	height: 90%;
}

.button-send {
	width: 100%;
	height: 10%;
	border: 2px solid orangered;
}