<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.my.dolduck.model.dto.MemberDto"	alias="MemberDto" />
		<typeAlias type="com.my.dolduck.model.dto.FreeboardDto" alias="FreeboardDto" />
		<typeAlias type="com.my.dolduck.model.dto.FreeboardCommentDto" alias="FreeboardCommentDto" />

		<typeAlias type="com.my.dolduck.model.dto.SelectDto" alias="SelectDto"/>
		<typeAlias type="com.my.dolduck.model.dto.BroadcastDto" alias="BroadcastDto"/>
		<typeAlias type="com.my.dolduck.model.dto.VoteDto" alias="VoteDto"/>

	</typeAliases>

	<!-- resource : src/main/resources -->
	<mappers>
		<mapper resource="/sqls/mapper.xml" />
		<mapper resource="/sqls/freeboard_mapper.xml" />
		<mapper resource="/sqls/comment_mapper.xml" />

		<mapper resource="/sqls/broadcast-mapper.xml"/>
		<mapper resource="/sqls/vote-mapper.xml"/>
	</mappers>
</configuration>
