/*******************
	Live 게시판
*******************/
.calendar-box{ margin-top: 6em; margin-bottom: 10em;}
.slide_img{ height: -webkit-fill-available;}
#area-addEvent{ margin-top: 2em; float: right;}
#modified{
	width: 381px;
    margin: 3px 1px 0px 1px;
    color: #ffffff;
    background: #ffa550;
    border: 5px solid #ffa550;
    border-radius: .25rem;
    padding: .375rem .75rem;
}
#live-slide{
	height: 300px; 
	position: relative; 
	margin-top: 100px;
	background-color: cornflowerblue; 
	text-align: center;
	font-size: 35px;
	color: white;
}

.nav-link{
    border: 1px solid #000;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.nav-item .nav-link{
    padding-right: 25px;
    padding-left: 25px;
}
.nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-item:active{
	color : #000;
    background-color: transparent;
	border-color: transparent transparent #f3f3f3;
    border-bottom: 2.5px solid #ffa550 !important;
}
.nav-link:active{font-weight: bold;}
.nav-tab-menu{ border-bottom : 1px solid #ddd; }
.live-content{ 
	margin-top: 30px;
	border : 1px solid;
	height :  800px;
}
.live-banner{
	border: 1px solid red;
	margin-top:3em;
}


/*******************
	Live onair
*******************/
.channel-list{ 
	min-height: 700px;
	margin-top: 6em;
	margin-bottom: 6em;
	border:1px solid darkgreen;
}

.onair-body {
    min-height: 800px;
    margin-top: 2em;
    margin-bottom: 5em;
}