.vote_board{
	margin-top: 200px; 
}
.div-star{
	margin-top: 50px;
}
.star-thumbnail{
	width : 100px; height: 100px;
	background: salmon;
	border-radius : 5em;
	color: white;
	font-weight: bold;
	font-size : 15px;
	cursor : pointer;
	margin : 10px;
	display: inline-block;
	text-align: center;
}
.vote-button{
    height: 100%;
    padding: 22px 15px 23px;
}
ul.vote-button li {
	position: relative;
    display: inline-block;
    padding: 57px;
    font-family: 'NIXGONM-Vb';
    font-weight: bold;
    background: #f2ecf5;
    font-size: 16px;
}