<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.my.test.dto.MemberDto"	alias="MemberDto" />
		<typeAlias type="com.my.test.freeboard.dto.FreeboardDto" alias="FreeboardDto" />
		<typeAlias type="com.my.test.freeboard.dto.FreeboardCommentDto" alias="FreeboardCommentDto" />
	</typeAliases>

	<!-- resource : src/main/resources -->
	<mappers>
		<mapper resource="/sqls/mapper.xml" />
		<mapper resource="/sqls/freeboard_mapper.xml" />
		<mapper resource="/sqls/comment_mapper.xml" />
	</mappers>
</configuration>
