
#channel-icon{ 
    width: 52px; height: 52px;
    border-radius: 5em;
    background-image: url('http://www.kyeongin.com/mnt/file/201907/20190716001537091_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
#channel-name-area a{ text-decoration: none; }
#channel-name-area a:hover{ color: #7C5CB2;/*#785FB3;*/ }
#channel-name{
    color: #414141;
    font-size: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    top: -50%;
    bottom: 50%;
    vertical-align: middle;
}
#channel-follow{
    width:80px;
    height: 35px;
    line-height: 33px;
    border: 1px solid #a8a8a8;
    background: transparent;
    border-radius: 31px;
    padding: 0 17px 0 14px;
    font-size: 14px;
    color: #414141;
    cursor: pointer;
    float: left;
    position: relative;
    top: 50%;
    bottom: 50%;
}

.live-booth{
    width: 75%;
    border: 1px solid #ddd;
    margin: 0px;
    border-right: none;
    float: left;
}
.live-booth #video{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
}
.channel-controlbox{ 
    width: 100%;
    float: right;
    text-align: right;
}
.channel-video-area{
    width:100%;
    height: 550px;
    background: #414141;
    padding: 0;
}
.chatbox{ 
    width: 25%;
    border: 1px solid #ddd;
    background-color: #FAFAFA;
}
.chatroom, .chatroom-form, .chatroom-top{ 
    width: 100%;
    margin: 0px;
    border-top: 1px solid #ddd;
}
.chatroom{
    height: 520px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chatroom-top{ height: 65px; display: block; }
.chatroom-form { height: 45px;  display: block;}

.chatroom-form form input{
    border: 0; 
    padding: 7px; 
    width: 100%; height:43px;
    font-size: 13px;
    margin-right: .5%;
    display: block;
}
.chatroom-form form button{
    width: 13.5%; 
    background: rgb(255, 229, 52); 
    border: none; 
    border-radius: 0.2em; 
    padding: 10px; 
    font-weight: bold;
    display: block;
}
.channel-onair-info{
    width: 100%; height: 80px;
    margin: 0;
    line-height: 1.5em;
    text-align: left;
}
#messages {
    list-style-type: none;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
    background: #fff;
    font-size: 13px;
    display: block;
    border-bottom: 1px solid #ccc;
    max-width: 350px;
    margin: 5px;
    clear: both;
    word-break: break-all;
}
#messages li p{ 
    display: block; 
    margin: 0;
    font-size: 14px;
}
#messages p.nameSpace{
    display: inline-block;
    color: #7C5CB2;
    font-size: 12px;
}
#messages p.nameSpace:hover{
    cursor: grab;
}
#messages p.nameSpace:active{
    cursor: grabbing;
}
#messages li.other{
    float: left;
}
#messages li.me{
    background: rgb(255, 229, 52);
    float: right;
}
#messages li.server{
    text-align: center;
    background: #7C5CB2;
    border: 1px solid #7C5CB2;
}
#onair-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 13px 0 5px 15px;
    height: 26px;
    max-width: 690px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}
#info-title, #info-numOf-visitor{ display: inline-block; }
#info-title{
    width: 78%;
}
#info-numOf-visitor{
    float:right;
    width:20%;
    line-height: 6em;
    height: 100%;
}
#info-numOf-visitor span h4, #info-numOf-visitor span { display: inline;}
#info-numOf-visitor span{ font-size: 13px; color: #414141; }