<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freeboard">

	<select id="selectList" resultType="FreeboardDto">
		SELECT FREEBOARD_NUM,
		FREEBOARD_ID, FREEBOARD_TITLE, FREEBOARD_CONTENT, FREEBOARD_REGDATE
		FROM
		FREEBOARD ORDER BY FREEBOARD_NUM DESC
	</select>
	
	<select id="selectOne" resultType="FreeboardDto" parameterType="int">
		SELECT FREEBOARD_NUM, FREEBOARD_ID, FREEBOARD_TITLE,
		FREEBOARD_CONTENT, FREEBOARD_FILE, FREEBOARD_REGDATE
		FROM FREEBOARD
		WHERE FREEBOARD_NUM =
		#{freeboard_num}
	</select>
	
	<select id="insert" resultType="FreeboardDto">
		INSERT INTO FREEBOARD
		VALUES(FREEBOARD_SEQ.NEXTVAL,#{freeboard_id},#{freeboard_title},#{freeboard_content},
		<choose>
			<when test="freeboard_file != null">
				#{freeboard_file}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
		,SYSDATE)
	</select>

	<select id="update" parameterType="FreeboardDto">
		UPDATE FREEBOARD
		SET FREEBOARD_TITLE = #{freeboard_title}, FREEBOARD_CONTENT = #{freeboard_content}, FREEBOARD_FILE = 		
		<choose>
			<when test="freeboard_file != null">
				#{freeboard_file}
			</when>
			<otherwise>
				null
			</otherwise>
		</choose>
		WHERE FREEBOARD_NUM = #{freeboard_num}
	</select>
	
	<select id="delete" parameterType="map">
		DELETE FROM FREEBOARD WHERE FREEBOARD_NUM = #{freeboard_num}
	</select>
	
	<select id="find_list" resultType="FreeboardDto">
      SELECT FREEBOARD_NUM, FREEBOARD_ID, FREEBOARD_TITLE, FREEBOARD_CONTENT, FREEBOARD_REGDATE
      FROM FREEBOARD WHERE FREEBOARD_TITLE LIKE '%'||#{Searchtext}||'%'
   </select>
</mapper>
