<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="market">

	<select id="selectList" resultType="MarketDto">
		SELECT MARKET_NUM,
		MARKET_ID, MARKET_TITLE, MARKET_CONTENT, MARKET_REGDATE
		FROM
		MARKET
	</select>
	
	<select id="selectOne" resultType="MarketDto" parameterType="int">
		SELECT MARKET_NUM, MARKET_ID, MARKET_TITLE,
		MARKET_CONTENT, MARKET_REGDATE
		FROM MARKET
		WHERE MARKET_NUM =
		#{market_num}
	</select>
	
	<select id="insert" resultType="MarketDto">
		INSERT INTO MARKET
		VALUES(MARKET_SEQ.NEXTVAL,#{market_id},#{market_title},#{market_content},SYSDATE)
	</select>

	<select id="update" parameterType="MarketDto">
		UPDATE MARKET SET MARKET_TITLE = #{market_title}, MARKET_CONTENT = #{market_content}
		WHERE MARKET_ID = #{market_id}
	</select>
	
	<select id="delete" parameterType="map">
		DELETE FROM MARKET WHERE MARKET_ID = #{market_id}
	</select>
	
</mapper>
